body {
    margin: 0;
    padding: 0;
}


h2 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
}


.container {
    display: flex;
    width: 575px;
    margin: auto;
    height: 385px;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #1B244A;
}

.container-two {
    text-align: center;
    background-color: #080001; 
    padding: 10px;
    width: 155px;
    margin: auto;
}

#home-score, 
#guest-score {
   font-size: 100px;
    color: #F94F6D;
    margin: 0 auto;
    font-family: 'Cursed Timer ULiL', sans-serif;
} 

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    width: 45px;
    height: 45px;
    margin-top: 20px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}